{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>NRI College</title>
		<meta name="description" content="Our College events." />
		<meta name="keywords" content="search, input, effect, morph, transition, inspiration" />
		<meta name="author" content="Codrops" />
		<!--<link rel="shortcut icon" href="../favicon.ico">  -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />

		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<!--[endif]-->
	</head>
	<body>
		<div class="container">
		<!--	<aside class="sidebar clearfix">
				<nav>
					<a href="#"><i class="fa fa-fw fa-comments-o">About College</i></a>
					<a href="#"><i class="fa fa-fw fa-heart-o"></i></a>
					<a href="#"><i class="fa fa-fw fa-send-o"></i></a>
					<a href="#"><i class="fa fa-fw fa-smile-o"></i></a>
				</nav>
			</aside>-->
			<div id="morphsearch" class="morphsearch">
				<form class="morphsearch-form">
					<input class="morphsearch-input" type="search" placeholder="Check events here..."/>
					<button class="morphsearch-submit" type="submit">Search</button>
				</form>
				<div class="morphsearch-content">
					<div class="dummy-column">
						<h2 "style =color = "maroon"">Today Event</h2>
						<a href="">
						{% for event in events_today %}
							<a href="{% url 'event_detail' event.id %}"><h2 style="color: # c0392b">
								{{event.event_name}}
								{{event.event_date}}
							</h2></a>
						{% endfor %}
							
						</a>
					</div>
					<div class="dummy-column">
						<h2>Comming Soon Events</h2>
						{% for event in events_tmrw %}
							<a href="{% url 'event_detail' event.id %}">
							<h2 style="color: # c0392b">
								{{event.event_name}}
								{{event.event_date}}
							</h2>
							</a>
						{% endfor %}


					</div>
					
					<div class="dummy-column">
						<h2 style="color :#c0392b">All Event</h2>
						{% for event in x %}
							<a href="{% url 'event_detail' event.id %}">
							<h2 style="color: # c0392b">
								{{event.event_name}}
								{{event.event_date}}
							</h2>
							</a>
						{% endfor %}
					</div>
				</div><!-- /morphsearch-content -->
				<span class="morphsearch-close"></span>
			</div><!-- /morphsearch -->
			<header class="codrops-header">
				<h1 >Welcome To NRI College Events<span style="color :#cc0000">Place where we celebrate</span></h1>
			</header>
			<div class="overlay"></div>
		</div><!-- /container -->
		<script src={% static "js/classie.js" %}></script>
		<script>
			(function() {
				var morphSearch = document.getElementById( 'morphsearch' ),
					input = morphSearch.querySelector( 'input.morphsearch-input' ),
					ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
					isOpen = isAnimating = false,
					// show/hide search area
					toggleSearch = function(evt) {
						// return if open and the input gets focused
						if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

						var offsets = morphsearch.getBoundingClientRect();
						if( isOpen ) {
							classie.remove( morphSearch, 'open' );

							// trick to hide input text once the search overlay closes 
							// todo: hardcoded times, should be done after transition ends
							if( input.value !== '' ) {
								setTimeout(function() {
									classie.add( morphSearch, 'hideInput' );
									setTimeout(function() {
										classie.remove( morphSearch, 'hideInput' );
										input.value = '';
									}, 300 );
								}, 500);
							}
							
							input.blur();
						}
						else {
							classie.add( morphSearch, 'open' );
						}
						isOpen = !isOpen;
					};

				// events
				input.addEventListener( 'focus', toggleSearch );
				ctrlClose.addEventListener( 'click', toggleSearch );
				// esc key closes search overlay
				// keyboard navigation events
				document.addEventListener( 'keydown', function( ev ) {
					var keyCode = ev.keyCode || ev.which;
					if( keyCode === 27 && isOpen ) {
						toggleSearch(ev);
					}
				} );


				/***** for demo purposes only: don't allow to submit the form *****/
				morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			})();
		</script>
	</body>
</html>